body {
  background-color: black;
  color: grey;
}

h1 {
  text-align: center;
}

section {
  width: 800px;
  margin-left: 20px;
  margin-top: 60px;
}

a {
  text-decoration: none;
  color: inherit;
}

.new-recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 3rem;
}

label {
  display: flex;
  align-items: center;
  gap: 3rem;
}

label h3 {
  width: 120px;
}

input,
textarea {
  border: none;
  outline: none;
  width: 400px;
  font-family: "Courier New", Courier, monospace;
}

input {
  height: 2rem;
}

textarea {
  resize: vertical;
}

button {
  width: 100px;
  background-color: grey;
  color: black;
}

.recipes-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.recipe-card {
  width: 340px;
  border: solid 2px;
  border-radius: 20px;
  padding: 1rem;
}

p {
  white-space: preserve;
}

.recipe-paragraph {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: break-word;
  overflow: hidden;
}

.recipe-page-wrapper {
  width: 600px;
}

.recipe-page-wrapper h1,
.recipe-page-wrapper h3 {
  margin-top: 40px;
}
